.matrix-input-table {
    table-layout: fixed;
}

.matrix-input-table td, .matrix-input-table th {
    height: 43px;
}

.matrix-input-table input {
    width: 100%;
}

.matrix-input-cell-selected {
    background-color: #17a2b8;
}

.matrix-input-cell-pasted {
    animation: 0.8s pulse;
}

@keyframes pulse {
    0% {
        background-color: #FFF;
    }
    10% {
        background-color: #fd7e14;
    }
    100% {
        background-color: #FFF;
    }
}
